__pycache__/
.vscode/
.venv/

assignment_notes/
*/analysis_data/*
*/figures/*
*/metadata/metadata.json
*/processed_data/*
*/raw_data/*


*.pyc
*.env
*.DS_Store
*.docx
Thumbs.db

src/fix.py
data/metadata/metadata.json

